.navbar{
  position: fixed;
  width: 100%;
  z-index: 999;
}


footer{
  padding: 15px 20px 0 100px;
  margin-bottom: 0px;
  margin-top: 10px;
  background-color: rgba(244, 228, 207, 0.36);
  text-align: center;
  
}
.jumbotron{
  color: black;
  background-image: url(img/colombia.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
  background-position: center;
  padding-top: 116px;
  padding-bottom: 64px;
}
.container{
  padding: 7px 5px 5px 7px;

}
/*img{
vertical-align: middle;
border-style: none;*/
}
.footer-icon{
  padding-right: 10px;
}
.footer-redes{
  padding-top: 17px
}
.card img{
  height: 168px;
  width: 300px;
}